{% extends "layout.html" %}

{% block content %}
<h2>Cadastro de Produtos</h2>
<form method="POST">
    <div class="form-group">
        <label for="nome">Nome do Produto:</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="form-group">
        <label for="valor_unitario">Valor Unitário:</label>
        <input type="number" step="0.01" class="form-control" id="valor_unitario" name="valor_unitario" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
