{% extends "layout.html" %}

{% block content %}
<h2>Produtos Cadastrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Valor Unitário</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto[0] }}</td>
            <td>{{ produto[1] }}</td>
            <td>R$ {{ produto[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('cadastro_produtos') }}" class="btn btn-primary">Cadastrar Novo Produto</a>
{% endblock %}
