{% extends "layout.html" %}

{% block content %}
<h2>Controle da Lanchonete</h2>
<form method="POST">
    <div class="form-group">
        <label for="produto">Produto:</label>
        <select class="form-control" id="produto" name="produto" required>
            {% for produto in produtos %}
                <option value="{{ produto[0] }}">{{ produto[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="quantidade">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Venda</button>
</form>
{% endblock %}
