<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zoolab{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Zoolab</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('cadastro_animais') }}">Cadastro de Animais</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('bilheteria') }}">Bilheteria</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('alimentacao') }}">Alimentação</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('lanchonete') }}">Lanchonete</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('visualizar_produtos') }}">Visualizar Produtos</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('visualizar_animais') }}">Visualizar Animais</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('metricas') }}">Métricas</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <!-- Canvas para o gráfico -->
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script> <!-- Adicionando o Chart.js -->
</body>
</html>
